<%- include('../../partials/header.ejs') %>

<div id="wrapper">
    <!-- Sidebar -->
    <%- include('../../partials/sidebar.ejs') %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <%- include('../../partials/topbar.ejs') %>
            <!-- Begin Page Content -->
            <div class="container-fluid">


                <form method="POST" action="/admin/processos/update">
                    <input type="hidden" class="form-control" name="id" id="id" value="<%= processo.id %>"></input>

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-12 col-md-6 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col-xl-1 col-md-6 mb-4">
                                            <small id="passwordHelpBlock" class="form-text text-muted">Data</small>
                                            <input type="text" class="form-control form-control-sm"
                                                   name="datacomparecimento"
                                                   value="<%= processo.datacomparecimento %>"></input>
                                        </div>

                                        <div class="col-xl-1 col-md-6 mb-4">
                                            <small id="passwordHelpBlock" class="form-text text-muted">CPF</small>
                                            <input class="form-control form-control-sm" name="cpf"
                                                   value="<%= processo.cpf %>"></input>
                                        </div>

                                        <div class="col-xl-4 col-md-6 mb-4">
                                            <small id="passwordHelpBlock" class="form-text text-muted">Nome do
                                                Beneficiário</small>
                                            <input type="text" class="form-control form-control-sm"
                                                   name="nomebeneficiario"
                                                   value="<%= processo.nomebeneficiario %>"></input>
                                        </div>

                                        <div class="col-xl-2 col-md-6 mb-4">
                                            <small id="passwordHelpBlock" class="form-text text-muted">Telefone
                                                Fixo</small>
                                            <input type="text" class="form-control form-control-sm" name="telefone"
                                                   value="<%= processo.telefone %>"></input>
                                        </div>

                                        <div class="col-xl-2 col-md-6 mb-4">
                                            <small id="passwordHelpBlock" class="form-text text-muted">Celular</small>
                                            <input type="text" class="form-control form-control-sm" name="celular"
                                                   value="<%= processo.celular %>"></input>
                                        </div>

                                        <div class="col-xl-2 col-md-6 mb-4">
                                            <small id="passwordHelpBlock" class="form-text text-muted">Telefone
                                                2</small>
                                            <input type="text" class="form-control form-control-sm" name="telefone2"
                                                   value="<%= processo.telefone2 %>"></input>
                                        </div>
                                    </div>
                                    <div class="form-row">

                                        <div class="col-xl-1 col-md-6 mb-4">
                                            <small id="passwordHelpBlock" class="form-text text-muted">Cep</small>
                                            <input type="text" maxlength="9" class="form-control form-control-sm"
                                                   name="cep" id="cep" value="<%= processo.cep %>" size="10"
                                                   onblur="getCep(this.value);"></input>
                                        </div>

                                        <div class="col-xl-3 col-md-6 mb-4">
                                            <small id="passwordHelpBlock"
                                                   class="form-text text-muted">Logradouro</small>
                                            <input style="text-transform: uppercase;" id="Street"
                                                   class="form-control form-control-sm" name="logradouro"
                                                   value="<%= processo.logradouro %>"></input>

                                        </div>


                                        <div class="col-xl-1 col-md-6 mb-4">
                                            <small id="passwordHelpBlock" class="form-text text-muted">Número</small>
                                            <input id="numero" type="number" class="form-control form-control-sm"
                                                   name="numero" value="<%= processo.numero %>"></input>
                                        </div>

                                        <div class="col-xl-2 col-md-6 mb-4">
                                            <small id="passwordHelpBlock"
                                                   class="form-text text-muted">Complemento</small>
                                            <input style="text-transform: uppercase;" id="complemento"
                                                   class="form-control form-control-sm" name="complemento"
                                                   value="<%= processo.complemento %>"></input>
                                        </div>


                                        <div class="col-xl-2 col-md-6 mb-4">
                                            <small id="passwordHelpBlock" class="form-text text-muted">Bairro</small>
                                            <input style="text-transform: uppercase;" id="District"
                                                   class="form-control form-control-sm" name="bairro"
                                                   value="<%= processo.bairro %>"></input>
                                        </div>

                                        <div class="col-xl-3 col-md-6 mb-4">
                                            <small id="passwordHelpBlock" class="form-text text-muted">Cidade</small>
                                            <input style="text-transform: uppercase;" id="City"
                                                   class="form-control form-control-sm" name="cidade"
                                                   value="<%= processo.cidade %>"></input>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-xl-2 col-md-6 mb-4">
                                            <small id="passwordHelpBlock" class="form-text text-muted">Benefício
                                                Requerido</small>
                                            <select class="form-control form-control-sm" name="beneficiorequerido">
                                                <option value=""></option>
                                                <option value="LOAS IDOSO" <%= processo.beneficiorequerido == 'LOAS IDOSO' ? 'selected' : '' %>>
                                                    LOAS IDOSO
                                                </option>
                                                <option value="LOAS DEFICIENTE" <%= processo.beneficiorequerido == 'LOAS DEFICIENTE' ? 'selected' : '' %>>
                                                    LOAS DEFICIENTE
                                                </option>
                                                <option value="LOAS NIVER" <%= processo.beneficiorequerido == 'LOAS NIVER' ? 'selected' : '' %>>
                                                    LOAS NIVER
                                                </option>
                                                <option value="OUTROS" <%= processo.beneficiorequerido == 'OUTROS' ? 'selected' : '' %>>
                                                    OUTROS
                                                </option>
                                            </select>
                                        </div>

                                        <div class="col-xl-2 col-md-6 mb-4">
                                            <small id="passwordHelpBlock" class="form-text text-muted">Indicação</small>
                                            <select class="form-control form-control-sm" name="indicacao">
                                                <option value="<%= processo.indicacao %>"></option>
                                                <option value="SBTIB" <%= processo.indicacao == 'SBTIB' ? 'selected' : '' %>>
                                                    SBT-IB
                                                </option>
                                                <option value="AC" <%= processo.indicacao == 'AC' ? 'selected' : '' %>>
                                                    ANTÔNIO CARLOS
                                                </option>
                                                <option value="TUPI" <%= processo.indicacao == 'TUPI' ? 'selected' : '' %>>
                                                    TUPI
                                                </option>
                                                <option value="CIDINHA" <%= processo.indicacao == 'CIDINHA' ? 'selected' : '' %>>
                                                    CIDINHA
                                                </option>
                                                <option value="PA" <%= processo.indicacao == 'PA' ? 'selected' : '' %>>
                                                    PEDRO AUGUSTO
                                                </option>
                                                <option value="CM" <%= processo.indicacao == 'CM' ? 'selected' : '' %>>
                                                    CM
                                                </option>
                                                <option value="PANFLETO" <%= processo.indicacao == 'PANFLETO' ? 'selected' : '' %>>
                                                    PANFLETO
                                                </option>
                                                <option value="AMIGOVIZINHO" <%= processo.indicacao == 'AMIGOVIZINHO' ? 'selected' : '' %>>
                                                    AMIGO/VIZINHO
                                                </option>
                                                <option value="HR" <%= processo.indicacao == 'HR' ? 'selected' : '' %>>
                                                    HR
                                                </option>
                                                <option value="IBT" <%= processo.indicacao == 'IBT' ? 'selected' : '' %>>
                                                    IBT
                                                </option>
                                                <option value="GLOBO" <%= processo.indicacao == 'GLOBO' ? 'selected' : '' %>>
                                                    GLOBO
                                                </option>
                                            </select>
                                        </div>

                                        <div class="col-xl-8 col-md-6 mb-4">
                                            <small id="passwordHelpBlock" class="form-text text-muted">Pendência de
                                                Documentos</small>
                                            <input class="form-control form-control-sm" name="pendenciadedocumentos"
                                                   value="<%= processo.pendenciadedocumentos %>"></input>
                                        </div>

                                        <div class="col-xl-12 col-md-6 mb-4">
                                            <small id="passwordHelpBlock" class="form-text text-muted">Informação
                                                Complementar</small>
                                            <textarea type="text"
                                                      class="p-3 mb-2 bg-light text-dark form-control form-control-sm"
                                                      name="informacaocomplementar" id="informacaocomplementar"
                                                      value="<%= processo.informacaocomplementar %>" rows="4"
                                                      cols="66"></textarea>
                                        </div>

                                        <div class="col-xl-4 col-md-6 mb-4">
                                            <small id="passwordHelpBlock" class="form-text text-muted">Enviados</small>
                                            <input class="form-control form-control-sm" name="enviados"
                                                   value="<%= processo.enviados %>"></input>
                                        </div>

                                        <div class="col-xl-4 col-md-6 mb-4">
                                            <small id="passwordHelpBlock" class="form-text text-muted">Entrada</small>
                                            <input class="form-control form-control-sm" name="entrada"
                                                   value="<%= processo.entrada %>"></input>
                                        </div>

                                        <% if(role != 'user'){ %>
                                            <div class="col-xl-4 col-md-6 mb-4">
                                                <small id="passwordHelpBlock" class="form-text text-muted">Senha do
                                                    Cliente</small>
                                                <input class="form-control form-control-sm" name="senhadocliente"
                                                       value="<%= processo.senhadocliente %>"></input>
                                            </div>
                                        <% } %>
                                        <div class="col-xl-2 col-md-6 mb-4">
                                            <small id="passwordHelpBlock" class="form-text text-muted">Situação</small>
                                            <select class="form-control form-control-sm" name="situacao">
                                                <option value=""></option>
                                                <option value="ANALISE" <%= processo.situacao == 'ANALISE' ? 'selected' : '' %>>
                                                    ANÁLISE
                                                </option>
                                                <option value="ANALISEPENDENCIA" <%= processo.situacao == "ANALISEPENDENCIA" ? "selected" : "" %>>
                                                    ANÁLISE PENDÊNCIA
                                                </option>
                                                <option value="CANCELADO" <%= processo.situacao == "" ? "selected" : "CANCELADO" %>>
                                                    CANCELADO
                                                </option>
                                                <option value="DEFERIDO" <%= processo.situacao == "" ? "selected" : "DEFERIDO" %>>
                                                    DEFERIDO
                                                </option>
                                                <option value="INDEFERIDO" <%= processo.situacao == "" ? "selected" : "INDEFERIDO" %>>
                                                    INDEFERIDO
                                                </option>
                                                <option value="EXIGENCIA" <%= processo.situacao == "" ? "selected" : "EXIGENCIA" %>>
                                                    EXIGÊNCIA
                                                </option>
                                                <option value="FALECEU" <%= processo.situacao == "" ? "selected" : "FALECEU" %>>
                                                    FALECEU
                                                </option>
                                                <option value="RECURSO" <%= processo.situacao == "" ? "selected" : "RECURSO" %>>
                                                    RECURSO
                                                </option>
                                                <option value="OUTROS" <%= processo.situacao == "" ? "selected" : "OUTROS" %>>
                                                    OUTROS
                                                </option>
                                            </select>

                                        </div>

                                        <div class="col-xl-2 col-md-6 mb-4">
                                            <small id="passwordHelpBlock" class="form-text text-muted">Nova
                                                Entrada</small>
                                            <input class="form-control form-control-sm" name="novaentrada"
                                                   value="<%= processo.novaentrada %>"></input>
                                        </div>

                                        <div class="col-xl-2 col-md-6 mb-4">
                                            <small id="passwordHelpBlock" class="form-text text-muted">Data
                                                Pesquisa</small>
                                            <input class="form-control form-control-sm" name="datapesquisa"
                                                   value="<%= processo.datapesquisa %>"></input>
                                        </div>


                                        <div class="col-xl-2 col-md-6 mb-4">
                                            <small id="passwordHelpBlock" class="form-text text-muted">Advogado que
                                                Assinou</small>
                                            <select class="form-control form-control-sm" name="advogadoqueassinou">
                                                <option value="<%= processo.advogadoqueassinou %>"></option>
                                                <option value="Advogado">Advogado</option>

                                            </select>

                                        </div>

                                        <div class="col-xl-2 col-md-6 mb-4">
                                            <small id="passwordHelpBlock" class="form-text text-muted">Pagamento</small>
                                            <input class="form-control form-control-sm" name="pagamento"
                                                   value="<%= processo.pagamento %>"></input>
                                        </div>
                                        <div class="col-xl-2 col-md-6 mb-4">
                                            <small id="unidade" class="form-text text-muted">Unidade</small>
                                            <select class="form-control form-control-sm" name="unidade">
                                                <option value=""></option>
                                                <option value="CENTRO" <%= processo.unidade == 'CENTRO' ? 'selected' : '' %>>
                                                    Centro
                                                </option>
                                                <option value="ALCANTARA" <%= processo.unidade == 'ALCANTARA' ? 'selected' : '' %>>
                                                    Alcântara
                                                </option>
                                                <option value="TAQUARA" <%= processo.unidade == 'TAQUARA' ? 'selected' : '' %>>
                                                    Taquara
                                                </option>
                                                <option value="ANGRA" <%= processo.unidade == 'ANGRA' ? 'selected' : '' %>>
                                                    Angra
                                                </option>
                                                <option value="NILOPOLIS" <%= processo.unidade == 'NILOPOLIS' ? 'selected' : '' %>>
                                                    Nilópolis
                                                </option>

                                            </select>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <small id="apoio"
                                                   class="form-text text-muted">Apoio</small>
                                            <select class="form-control" name="apoio" id="apoio" autofocus>
                                                <option value=""></option>
                                                <option value="apoiosim" <%= processo.apoio == 'apoiosim' ? 'selected' : '' %>>
                                                    APOIO SIM
                                                </option>
                                                <option value="apoiotalvez" <%= processo.apoio == 'apoiotalvez' ? 'selected' : '' %>>
                                                    APOIO TALVEZ
                                                </option>
                                                <option value="apoionao" <%= processo.apoio == 'apoionao' ? 'selected' : '' %>>
                                                    APOIO NÃO
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-xl-4 col-md-6 mb-4">
                                            <small id="passwordHelpBlock" class="form-text text-muted">E-mail</small>
                                            <input style="text-transform: lowercase;" type="text"
                                                   class="form-control form-control-sm" name="email"
                                                   value="<%= processo.email %>"></input>
                                        </div>

                                        <div class="col-xl-8 col-md-6 mb-4">
                                            <small id="passwordHelpBlock" class="form-text text-muted">Avaliação /
                                                Perícia</small>
                                            <input class="form-control form-control-sm" name="avaliacaopericia"
                                                   value="<%= processo.avaliacaopericia %>"></input>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-xl-12 col-md-6 mb-4">
                                        <button type="submit" class="btn btn-success btn-block">Atualizar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Footer -->
        <footer>
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-6 col-md-6 mb-4">
                            <input type="button" value="Voltar" onClick="history.go(-1)"
                                   class="btn btn-Light btn-block"/>
                        </div>
                        <div class="col-xl-6 col-md-6 mb-4">
                            <input type="button" value="Avançar" onClick="history.go(+1)"
                                   class="btn btn-Light btn-block"/>
                        </div>
                    </div>
                </div>
        </footer>
    </div>
    <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>

<%- include('../../partials/logoutmodal.ejs') %>
<%- include('../../partials/footer.ejs') %>
